# Exercise 1: Business cycle correlations

For this exercise, you'll be using macroeconomic data from the folder `data/FRED`.

1.  There are seven decade-specific files named `FRED_monthly_19X0.csv` where `X` identifies the decade (`X` takes on the values 5, 6, 7, 8, 9, 0, 1). Write a loop that reads in all seven files as DataFrames and store them in a list.

    *Hint:* Recall from the lecture that you should use `pd.read_csv(..., parse_dates=['DATE'])` to automatically parse strings stored in the `DATE` column as dates.
2.  Use [`pd.concat()`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) to concate these data sets into a single `DataFrame` and set the `DATE` column as the index.
3.  You realize that your data does not include GDP since this variable is only reported at quarterly frequency.
    Load the GDP data from the file `GDP.csv` and merge it with your monthly data using an _inner join_.
4.  You want to compute how (percent) changes of the variables in your data correlate with percent changes in GDP.

    1. Create a _new_ `DataFrame` which contains the percent changes in CPI and GDP (using 
    [`pct_change()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pct_change.html),
    and the absolute changes for the remaining variables (using 
    [`diff()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.diff.html)).
    2.  Compute the correlation of the percent changes in GDP with the (percent) changes of all other variables using [`corr()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html). What does the sign and magnitude of the correlation coefficient tell you?

In [ ]:
import pandas as pd
DATA_PATH = '../../data/FRED'
df_1950 = pd.read_csv(f'{DATA_PATH}/FRED_monthly_1950.csv', parse_dates=['DATE'])
df_1960 = pd.read_csv(f'{DATA_PATH}/FRED_monthly_1960.csv', parse_dates=['DATE'])
df_1970 = pd.read_csv(f'{DATA_PATH}/FRED_monthly_1970.csv', parse_dates=['DATE'])
df_1980 = pd.read_csv(f'{DATA_PATH}/FRED_monthly_1980.csv', parse_dates=['DATE'])
df_1990 = pd.read_csv(f'{DATA_PATH}/FRED_monthly_1990.csv', parse_dates=['DATE'])
df_2000 = pd.read_csv(f'{DATA_PATH}/FRED_monthly_2000.csv', parse_dates=['DATE'])
df_2010 = pd.read_csv(f'{DATA_PATH}/FRED_monthly_2010.csv', parse_dates=['DATE'])

In [ ]:
df = pd.concat((df_1950, df_1960,df_1970,df_1980,df_1990,df_2000,df_2010))

In [ ]:
df_GDP =

In [ ]:
import pandas as pd

#Store importted DataFrames in this list
data = []
for x in range(5, 9):
    filename = f'{DATA_PATH}/FRED_monthly_19{x}0.csv'
    df = pd.read_csv(filename, parse_dates=['DATE'])
    #Add DataFrame to list
    data.append(df)
for x in range(0, 2):
    filename = f'{DATA_PATH}/FRED_monthly_19{x}0.csv'
    df = pd.read_csv(filename, parse_dates=['DATE'])
    #Add DataFrame to list
    data.append(df)

In [ ]:
len(data)

In [ ]:
data = []

for x in range(1950, 2011, 10):
    filename = f'{DATA_PATH}/FRED_monthly_{x}.csv'
    df = pd.read_csv(filename, parse_dates=['DATE'])
    #Add DataFrame to list
    data.append(df)

In [ ]:
len(df)

In [ ]:
data = [
    pd.read_csv(f'{DATA_PATH}/FRED_monthly_{x}.csv', parse_dates=['DATE'])
    for x in range(1950,2011,10)
]

In [ ]:
len(data)

In [ ]:
# Concatenate into a single DataFrame
df = pd.concat(data, ignore_index = True)

In [ ]:
#Set the DATE column as the index
df = df.set_index('DATE')
df.loc['1950']

In [33]:
import numpy as np
DATA_PATH = '../../data/FRED'
df_gdp = pd.read_csv(f'{DATA_PATH}/GDP.csv', parse_dates=['DATE'])
df_gdp.set_index('DATE', inplace=True)

df_gdp.merge(df, on='DATE').head(3)

        DATE     GDP   CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
0 1980-01-01  7341.6  78.0     6.3      13.8       NaN    64.0
1 1980-04-01  7190.3  80.9     6.9      17.6       NaN    63.8
2 1980-07-01  7181.7  82.6     7.8       9.0       NaN    63.8

In [ ]:
#Alternatives

In [42]:
df_merge = pd.merge(df_gdp, df, on='DATE', how='inner')

In [45]:
df_merge = df.join(df_gdp, how='inner',on='DATE')

In [55]:
df_merge.head(3)

        DATE   CPI  UNRATE  FEDFUNDS  REALRATE  LFPART     GDP
0 1980-01-01  78.0     6.3      13.8       NaN    64.0  7341.6
3 1980-04-01  80.9     6.9      17.6       NaN    63.8  7190.3
6 1980-07-01  82.6     7.8       9.0       NaN    63.8  7181.7

In [58]:
#Compute percent changes in CPI and GDP
df_changes = df_merge[['CPI','GDP']].pct_change() * 100.

In [62]:
variables = ['UNRATE', 'FEDFUNDS', 'LFPART']

#Compute absolute differences and store them in df_changes

df_changes[variables] = df_merge[variables].diff()

In [64]:
# Compute pairwise correlations
df_changes.corr().loc['GDP']

CPI        -0.281093
GDP         1.000000
UNRATE     -0.695674
FEDFUNDS    0.386210
LFPART      0.062576
Name: GDP, dtype: float64

***
# Exercise 2: Loading many data files

In the previous exercise, you loaded the individual files by specifing an explicit list of file names. This can become tedious or infeasible if your data is spread across many files with varying file name patterns. Python offers the possibility to iterate over all files in a directory (for example, using [`os.listdir()`](https://docs.python.org/3/library/os.html#os.listdir)),
or to iterate over files that match a pattern, for example using [`glob.glob()`](https://docs.python.org/3/library/glob.html).

Repeat parts (1) and (2) from the previous exercise, but now iterate over the input files using 
[`glob.glob()`](https://docs.python.org/3/library/glob.html). You'll need to use a wildcard `*` and make sure to match only the relevant files in `data/FRED`, i.e., those that start with `FRED_monthly_1` or `FRED_monthly_2`.

In [69]:
#
pattern = f'{DATA_PATH}/FRED_monthly_[12]*.csv'

import glob 

glob.glob(pattern)

['../../data/FRED\\FRED_monthly_1950.csv',
 '../../data/FRED\\FRED_monthly_1960.csv',
 '../../data/FRED\\FRED_monthly_1970.csv',
 '../../data/FRED\\FRED_monthly_1980.csv',
 '../../data/FRED\\FRED_monthly_1990.csv',
 '../../data/FRED\\FRED_monthly_2000.csv',
 '../../data/FRED\\FRED_monthly_2010.csv']

In [79]:
#List to hold imported data frame
data = []

for file in glob.glob(pattern):
    print(f'Processing file {file}')
    df = pd.read_csv(file)
    data.append(df)

Processing file ../../data/FRED\FRED_monthly_1950.csv
Processing file ../../data/FRED\FRED_monthly_1960.csv
Processing file ../../data/FRED\FRED_monthly_1970.csv
Processing file ../../data/FRED\FRED_monthly_1980.csv
Processing file ../../data/FRED\FRED_monthly_1990.csv
Processing file ../../data/FRED\FRED_monthly_2000.csv
Processing file ../../data/FRED\FRED_monthly_2010.csv

In [80]:
# Merge this to singe DataFrame
df = pd.concat(data)

In [81]:
df = pd.concat(data, ignore_index=True)

In [82]:
df.sort_values('DATE').reset_index(drop=True)

           DATE    CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
0    1950-01-01   23.5     6.5       NaN       NaN    58.9
1    1950-02-01   23.6     6.4       NaN       NaN    58.9
2    1950-03-01   23.6     6.3       NaN       NaN    58.8
3    1950-04-01   23.6     5.8       NaN       NaN    59.2
4    1950-05-01   23.8     5.5       NaN       NaN    59.1
..          ...    ...     ...       ...       ...     ...
835  2019-08-01  256.0     3.6       2.1       0.6    63.1
836  2019-09-01  256.4     3.5       2.0       0.3    63.2
837  2019-10-01  257.2     3.6       1.8      -0.0    63.3
838  2019-11-01  257.9     3.6       1.6      -0.2    63.3
839  2019-12-01  258.6     3.6       1.6      -0.3    63.3

[840 rows x 6 columns]

In [83]:
df.set_index('DATE').sort_index()

              CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
DATE
1950-01-01   23.5     6.5       NaN       NaN    58.9
1950-02-01   23.6     6.4       NaN       NaN    58.9
1950-03-01   23.6     6.3       NaN       NaN    58.8
1950-04-01   23.6     5.8       NaN       NaN    59.2
1950-05-01   23.8     5.5       NaN       NaN    59.1
...           ...     ...       ...       ...     ...
2019-08-01  256.0     3.6       2.1       0.6    63.1
2019-09-01  256.4     3.5       2.0       0.3    63.2
2019-10-01  257.2     3.6       1.8      -0.0    63.3
2019-11-01  257.9     3.6       1.6      -0.2    63.3
2019-12-01  258.6     3.6       1.6      -0.3    63.3

[840 rows x 5 columns]

***
# Exercise 3: Weekly returns of the magnificent seven

In this exercise, you are asked to analyze the weekly stockmarket returns
of the so-called magnificent 7 which are some of the most successful tech companies 
of the last decades years:
Apple (AAPL), Amazon (AMZN), Alphabet/Google (GOOGL), Meta (META), Microsoft (MSFT), Nvidia (NVDA), and Tesla (TSLA).

The data for this exercise is located in the folder `data/stockmarket/`.

1.  For each of the seven stocks listed above, there is a corresponding 
    CSV file in this directory (based on the ticker symbol).

    1.  For each ticker symbol, load the corresponding CSV file and make sure 
        that the `Date` is set as the index.

        The DataFrame has two columns, `Open` and `Close`, which contain the 
        opening and closing price for each trading day.

    3.  Use [`resample()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.resample.html)
        to resample the daily data to a weekly frequency by specifying `resample('W')`,
        and compute the weekly returns in percent:

        $$
        \text{Weekly returns} = \frac{\text{Close price on last day} - \text{Open price on first day}}{\text{Open price on first day}} \times 100
        $$

        *Hint:* You can obtain the first and last observation using the 
        [`first()`](https://pandas.pydata.org/docs/reference/api/pandas.core.resample.Resampler.first.html) and 
        [`last()`](https://pandas.pydata.org/docs/reference/api/pandas.core.resample.Resampler.last.html)
        methods.

    4.  Append these returns to a list so you can merge them into a single DataFrame later.

2.  Merge the list of weekly returns you computed into a single DataFrame.
    Keep only the intersection of dates available for all 7 stocks.

    *Hint:* This can be achieved using either 
    [`pd.concat()`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html),
    [`pd.merge()`](https://pandas.pydata.org/docs/reference/api/pandas.merge.html), or 
    [`DataFrame.join()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html).

3.  Finally, you are interested in how the weekly returns are correlated across 
    the 7 stocks. 

    1.  Compute and report the pairwise correlations using 
        [DataFrame.corr()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html).

    2.  Create a figure with 7-by-7 subplots showing the pairwise scatter plots of weekly returns 
        for each combination of stocks.

        You can do this either with the
        [`scatter_matrix()`](https://pandas.pydata.org/docs/reference/api/pandas.plotting.scatter_matrix.html) function contained in `pandas.plotting`, 
        or manually build the figure using Matplotlib functions.

    3.  **[Advanced]**
        In each of the subplots, add a text that reports the pairwise correlation
        for these stocks which you computed earlier.
        (e.g., the correlation between returns on AAPL and AMZN is about 0.42,
        so this text should be added to the subplot showing the 
        scatter plot of AAPL vs. AMZN).

In [104]:
DATA_PATH = '../../data/stockmarket'

fn = pd.read_csv(f'{DATA_PATH}/AAPL.csv')
fn.set_index('Date', inplace=True)
fn

                Open     Close
Date
1980-12-12    0.0985    0.0985
1980-12-15    0.0938    0.0933
1980-12-16    0.0869    0.0865
1980-12-17    0.0886    0.0886
1980-12-18    0.0912    0.0912
...              ...       ...
2024-12-23  253.8688  254.3670
2024-12-24  254.5862  257.2867
2024-12-26  257.2767  258.1037
2024-12-27  256.9179  254.6859
2024-12-30  251.3378  251.3079

[11104 rows x 2 columns]

In [103]:
# list to hold processed data for each stock
data = []
#Loop over ticker symbols and perform task in part 1
tickers = ['AAPL', 'AMZN', 'DJIA', 'GOOGL', 'indices', 'META', 'MSFT','NASDAQ', 'NVDA', 'SP500', 'TSLA']

for t in tickers:
    filename = f'{DATA_PATH}/{t}.csv'
    print(f'Processing file {filename}')
    df = pd.read_csv(filename, parse_dates=True)

Processing file ../../data/stockmarket/AAPL.csv
Processing file ../../data/stockmarket/AMZN.csv
Processing file ../../data/stockmarket/DJIA.csv
Processing file ../../data/stockmarket/GOOGL.csv
Processing file ../../data/stockmarket/indices.csv
Processing file ../../data/stockmarket/META.csv
Processing file ../../data/stockmarket/MSFT.csv
Processing file ../../data/stockmarket/NASDAQ.csv
Processing file ../../data/stockmarket/NVDA.csv
Processing file ../../data/stockmarket/SP500.csv
Processing file ../../data/stockmarket/TSLA.csv

In [115]:
df

                Open     Close
Date
2010-06-29    1.2667    1.5927
2010-06-30    1.7193    1.5887
2010-07-01    1.6667    1.4640
2010-07-02    1.5333    1.2800
2010-07-06    1.3333    1.0740
...              ...       ...
2024-12-23  431.0000  430.6000
2024-12-24  435.9000  462.2800
2024-12-26  465.1600  454.1300
2024-12-27  449.5200  431.6600
2024-12-30  419.4000  417.4100

[3651 rows x 2 columns]

In [116]:
df.set_index('Date', inplace=True)

KeyError: "None of ['Date'] are in the columns"

In [113]:
last = df.resample('W')['Close'].last()
first = df.resample('W')['Open'].first()

returns = (last - first ) / first * 100.0

data.append(returns)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

***
# Exercise 4: Decade averages of macro time series


For this exercise, you'll be using macroeconomic data from the folder `data/FRED`.

1.  There are five files containing monthly observations on annual inflation (INFLATION), the Fed Funds rate (FEDFUNDS), the labor force participation rate (LFPART), the 1-year real interest rate (REALRATE) and the unemployment rate (UNRATE).

    1.  Write a loop to import these files and store the individual DataFrames in a list.

        *Hint:* Recall from the lecture that you should use 
        `pd.read_csv(..., parse_dates=['DATE'], index_col='DATE')` to automatically parse strings stored in the `DATE` column as dates and set the `DATE`
        column as the index.

    2.  Use 
        [`pd.concat()`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)
        to concatenate this list of DataFrames along the column dimension
        using an outer join (`join='outer'`) to obtain a merged data set.

3.  You want to compute the average value of each variable by decade, but you want to include only decades without _any_ missing values for _all_ variables.

    1.  Create a variable `Decade` which stores the decade (1940, 1950, ...) for each observation.

        *Hint:* You should have set the `DATE` as the `DataFrame` index. Then you can access the calendar year using the attribute `df.index.year` which can be used to compute the decade.

    2.  Create an indicator variable which takes on the value `True` 
        whenever all observations (all columns) for a given date are non-missing, and `False`
        if at least one variable has a missing observation. 

    3.  Aggregate this indicator to decades using a
    [`groupby()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) so that the indicator takes on the value `True` whenever
    _all_ variables in a given decade have no missing values, and `False`
    otherwise.

        *Hint:* You can use the 
        [`all()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.all.html) aggregation for this.

    4.  Merge this decade-level indicator data back into the original `DataFrame` (_many-to-one_ merge). 
4.  Using this indicator, drop all observations which are in a decade with missing values.
5.  Compute the decade average for each variable.

**Challenge**

-   Your pandas guru friend claims that all the steps in 2.2 to 2.4 can be done with a single one-liner using [`transform()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transform.html). Can you come up with a solution?

***
# Exercise 5: Merging additional Titanic data

In this exercise, you'll be working with the the original Titanic data set in `titanic.csv` and additional (partly fictitious) information on passengers stored in `titanic-additional.csv`, both located in the `data/` folder.

The goal of the exercise is to calculate the survival rates by country of residence (for this exercise we restrict ourselves to the UK, so these will be England, Scotland, etc.).

1.  Load the `titanic.csv` and `titanic-additional.csv` into two DataFrames.

    Inspect the columns contained in both data sets. As you can see, the original data contains the full name including the title
    and potentially maiden name (for married women) in a single column.
    The additional data contains this information in separate columns.
    You want to merge these data sets, but you first need to create common keys in both DataFrames.

2.  Since the only common information is the name, you'll need to extract the individual name components from the original DataFrame
    and use these as merge keys.

    Focusing only on men (who have names that are much easier to parse), split the `Name` column into the tokens 
    `Title`, `FirstName` and `LastName`, just like the columns in the second DataFrame.

    *Hint:* This is the same task as in the last exercise in Workshop 2. You can just use your solution here.

3.  Merge the two data sets based on the columns `Title`, `FirstName` and `LastName` you just created using a _left join_ (_one-to-one_ merge).
    Tabulate the columns and the number of non-missing observations to make sure that merging worked. 

    *Note:* The additional data set contains address information only for passengers from the UK, so some of these fields will be missing.

4.  You are now in a position to merge the country of residence (_many-to-one_ merge). Load the country data from `UK_post_codes.csv` which contains 
    the UK post code prefix (which you can ignore), the corresponding city, and the corresponding country.

    Merge this data with your passenger data set using a _left join_ (what is the correct merge key?).

5.  Tabulate the number of observations by `Country`, including the number of observations with missing `Country` (these are passengers residing outside the UK).

    Finally, compute the mean survival rate by country.